/* calculator.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .screen {
    background-color: #222;
    color: #fff;
    font-size: 2.5rem;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
    margin-bottom: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
  }
  input{
    text-align: right;
  }
  
  .buttons-1,
  .button-2,
  .button-3,
  .button-4,
  .button-5 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    flex: 1;
    margin: 0 5px;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .wide {
    flex: 2;
  }
  
  .yellow {
    background-color: #ffcc00;
    color: #fff;
  }
  
  .yellow:hover {
    background-color: #e6b800;
  }